<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="story/layout/basic">
	<th:block layout:fragment="title">
		<title>This is a write page</title>
	</th:block>
	<th:block layout:fragment="content">
		<div class="card-content">
			<form class="form-horizontal" th:action="@{/story/register.do}" th:object="${story}" method="post" onsubmit="return registerStory(this)">
				<input type="hidden" th:if="*{num != null and num > 0}" th:field="*{num}" />
				
				<div class="form-group">
					<label for="notiYn" class="col-sm-2 control-label">공지글 설정</label>
					<div class="col-sm-10" style="margin-top: 10px;">
						<input type="checkbox" th:value="*{notiYn}" id="notiYn" name="notiYn" th:checked="*{#strings.equals( notiYn, 'Y')}" />
					</div>
				</div>
				
				<div class="form-group">
					<label for="secYn" class="col-sm-2 control-label">비밀글 설정</label>
					<div class="col-sm-10" style="margin-top: 10px;">
						<input type="checkbox" th:value="*{secYn}" id="secYn" name="secYn" th:checked="*{#strings.equals( secYn, 'Y')}" />
					</div>
				</div>
				
				<div class="form-group">
					<label for="title" class="col-sm-2 control-label">제목</label>
					<div class="col-sm-10">
						<input type="text" th:field="*{title}" class="form-control" placeholder="제목을 입력해 주세요." />
					</div>
				</div>
				
				<div class="form-group">
					<label for="nickname" class="col-sm-2 control-label">이름</label>
					<div class="col-sm-10">
						<input type="text" th:field="*{nickname}" class="form-control" placeholder="이름을 입력해 주세요." />
					</div>
				</div>
				
				<div class="form-group">
					<label for="nickname" class="col-sm-2 control-label">레벨</label>
					<div class="col-sm-10">
						<input type="text" th:field="*{lev}" class="form-control" placeholder="레벨을 입력해 주세요." />
					</div>
				</div>
				
				<div class="form-group">
					<label for="nickname" class="col-sm-2 control-label">등급</label>
					<div class="col-sm-10">
						<input type="text" th:field="*{grade}" class="form-control" placeholder="등급을 입력해 주세요." />
					</div>
				</div>
				
				
				
				
				<div class="form-group">
					<label for="title" class="col-sm-2 control-label">내용</label>
					<div class="col-sm-10">
						<textarea th:field="*{contents}" class="form-control" placeholder="내용을 입력해 주세요."></textarea>
					</div>
				</div>
				
				<div class="btn_wrap text-center">
					<a th:href="@{/story/list.do}" class="btn btn-default waves-effect waves-light">뒤로가기</a>
					<button type="submit" class="btn btn-primary waves-effect waves-light">저장하기</button>
				</div>
			</form>
		</div>
	</th:block>
	
	<th:block layout:fragment="script">
		<script th:inline="javascript">
			/*<![CDATA[*/
			
			function registerStory(form) {
				form.notiYn.value = form.notiYn.checked == false ? 'N' : 'Y';
				form.secYn.value = form.secYn.checked == false ? 'N' : 'Y';
				
				var result = (
					   isValid(form.title, "제목", null, null)
					&& isValid(form.nickname, "이름", null, null)
					&& isValid(form.lev, "레벨", null, null)
					&& isValid(form.grade, "등급", null, null)
					&& isValid(form.contents, "내용", null, null)
					
				);
				if (result == false) {
					return false;
				}
			}
			
			/*]]>*/
		</script>
	</th:block>
</html>